<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    <form action="/main" method="post" >
        <input type="text" name="name" placeholder="Введите название мероприятия"/>
        <input type="date" name="date" placeholder="Введите дату"/>
        <input type="text" name="description" placeholder="Введите описание"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

        <button type="submit">Добавить</button>
    </form>
    <b>Ближайшие мероприятия</b>
    <table border="1">
    {{#events}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td>{{description}}</td>
            <td><strong> {{authorName}} </strong></td>
        </tr>
    {{/events}}
    </table>

</body>
</html>